# Web Application
streamlit
requests

# Backend API
fastapi
uvicorn[standard]
python-multipart

# Data Processing & Machine Learning
pandas
numpy
scikit-learn
xgboost
joblib

# NLP / Transformers
torch
transformers
sentencepiece

# Utilities
matplotlib
deep-translator
langdetect
